<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <receiver
      android:name=".VoiceAlarmReceiver"
      android:enabled="true"
      android:exported="false" />

    <service
      android:name=".VoicePlaybackService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="shortService"
      android:stopWithTask="false" />
  </application>
</manifest>
